hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}
.container {
  width: 100%;
  padding: 0;
}
body {
  color: #73879C;
  background: #ffffff;
  font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.471
}
.main_content {
  padding: 10px 20px;
}

a {
  color: #5A738E;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: none;
}
.navbar {
  margin-bottom: 0;
}
.panel_toolbox {
  float: right;
  min-width: 70px;
}
.panel_toolbox>li {
  float: left;
  cursor: pointer;
}
.panel_toolbox>li>a {
  padding: 5px;
  color: #666666;
  font-size: 14px;
}
.panel_toolbox>li>a:hover {
  background: #77abfa;
}
.x_panel {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 17px;
  display: inline-block;
  background: #fff;
  border: 1px solid #E6E9ED;
  opacity: 1;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -ms-transition: all .2s ease;
  transition: all .2s ease;
}
.x_title {
  border-bottom: 1px solid #E6E9ED;
  padding: 2px 2px 2px;
  margin-bottom: 10px;
}

.x_content {
  padding: 0 5px 6px;
  position: relative;
  width: 100%;
  float: left;
  clear: both;
  margin-top: 1px
}

.thumbnail {
  width: 90px;
  height: 60px;
  overflow: hidden
}

.thumbnail .image {
  height: 100%;
  overflow: hidden
}
.view {
  overflow: hidden;
  position: relative;
  text-align: center;
  box-shadow: 1px 1px 2px #e6e6e6;
  cursor: default
}
.view img {
  display: block;
  position: relative
}

.view-first img {
  transition: all 0.1s linear;
}

.view-first:hover img {
  transform: scale(1.1);
}
.view-first:hover .mask {
  opacity: 1;
}
.view-first:hover .tools, .view-first:hover p {
  opacity: 1;
  transform: translateY(0px);
}
.view-first:hover p {
  transition-delay: 0.1s;
}

.preview_img {
  width: 96px;
  height: 54px;
  border-radius: 5px;
}

.tb_margin {
  margin-top: 5px;
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
   .waiting {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('../images/loading.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading .waiting {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .waiting {
    display: block;
}

/* add css */
div.mxWindow, table.mxWindow, table.properties tbody{
     width: 480px!important;
}

td.mxWindowPane {
    padding: 10px !important;
}

tr td {
    padding-bottom: 10px !important;
}

tr td input, td.mxWindowPane textarea {
    width: 400px!important;
}

td.mxWindowPane button {
    padding: 0 20px 0 20px!important;
    margin-right: 20px!important;
}

table.properties tbody tr td {
    padding-right:  10px!important;
}